{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
<main>
    <section>
        <div class="mt-10 max-w-2xl mx-auto">
            {{ form_start(formPassword) }}
            {{ form_widget(formPassword) }}

            <input type="submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 p-4" value="Modifier le mot de passe">
            {{ form_end(formPassword) }}
        </div>
    </section>
</main>
{% endblock %}



