{% extends 'admin/base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <main>
        <section>
            <h2 class="text-4xl text-center m-4">Modification de la formation</h2>
            <div class="mt-10 max-w-2xl mx-auto">
                {{ form_start(formEdit) }}
                {{ form_widget(formEdit) }}

                <input type="submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 p-4" value="Modifier la formation">
                {{ form_end(formEdit) }}
            </div>
        </section>
    </main>
{% endblock %}



