{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <main>
        <section>
            <h2 class="text-4xl text-center m-4">Ajouter une formation</h2>
            <div class="mt-10 max-w-2xl mx-auto">
                {{ form_start(formadd) }}
                {{ form_widget(formadd) }}

                <input type="submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 p-4" value="Ajouter une formation">
                {{ form_end(formadd) }}
            </div>
        </section>
    </main>
{% endblock %}