{% extends 'admin/base.html.twig' %}

{% block title %}Modification actu{% endblock %}


{% block body %}
    <main>
        <section>
            <h2 class="text-4xl text-center m-4">Modifier l'actualité</h2>
            <div class="mt-10 max-w-2xl mx-auto">
                {{ form_start(formENews) }}
                {{ form_widget(formENews) }}

                <input type="submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 p-4" value="Modifier l'actualité">
                {{ form_end(formENews) }}
            </div>
        </section>
    </main>
{% endblock %}


